/* CONTAINER */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.container-sm {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* BUTTONS */
.btn {
  display: inline-block;
  padding: 1.6rem 2.6rem;
  border: 1px solid var(--secondary-color);
  border-radius: 32px;
  background-color: var(--secondary-color);
  color: var(--dark-color);
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  border-color: #fff;
}

/* SECTION HEADER */

.section {
  margin: 4rem 0;
}
.section-header {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
}

.section-header h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark-color);
  margin-bottom: 0.5rem;
}

.section-header p {
  font-size: 1.3rem;
  color: var(--dark-color);
}

.heading-border {
  width: 64px;
  height: 4px;
  background-color: var(--primary-color);
  margin: 0 auto 2rem;
}

/* CARDS */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 1.7rem;
  background-color: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
}

/* TEXT CLASSES */
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}
